* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg');

  padding: 20px 60px;

  color: white;
}

nav {
  margin-bottom: 20px;
}

nav #logo {
  height:80px;

  margin-right: 10px;
}

nav h1 {
  display: inline-block;
  color: white;
  line-height: 100px;
  vertical-align: bottom;
}


/* search */
#search {
  padding: 12px 0;
}

#search #search-box {
  padding: 4px;
}

#search button {
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
}


/* notification */

#notification {
  margin-bottom: 20px;
}

#notification #badge {
  display: inline-block;
  height: 40px;
  width: 40px;

  /* padding: 20px; */

  border-radius: 100%;

  font-size: 1.4em;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;

  background-color: #faa501;
}

.separator {
  margin-bottom: 12px;
}

/* email-list */

#email-list {
  background-color: #d3d3d3;
  color: black;
}

#email-list ul {
  list-style-type: none;
}

#email-list .email-item {
  padding: 4px 6px;

  border: 2px solid black;
}

#email-list .text-mail {
  color: rgba(0, 0, 0, .5);
}

#email-list .unread {
  background-color: #ffffff;
}